/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: skyblue;
    margin: 0;
}

header {
  font-size: 150%;
  display: flex;
  flex-flow: row wrap;
  background-color: #000;
  height: auto;
  width: auto;
  border: 0;
  padding: 1em;
}

nav {
}

h1 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: blue;
}
